# MQTT Broker
MQTT_BROKER_USER=nodealert_gateway
MQTT_BROKER_PASSWORD=changeme_secure_password

# MySQL Database
MYSQL_ROOT_PASSWORD=changeme_root_password
MYSQL_DATABASE=nodealert
MYSQL_USER=nodealert
MYSQL_PASSWORD=changeme_db_password

# Django
DJANGO_SECRET_KEY=changeme_generate_random_key
DJANGO_DEBUG=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@nodealert.local
DJANGO_SUPERUSER_PASSWORD=changeme_admin_password
